.container {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
}
.mainContainer {
    margin-top: 50px;
}
.image {
    object-fit: cover;
}
.title {
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: bold;
}
.desc {
    font-size: 18px;
    color: #999;
}